<?xml version="1.0" encoding="utf-8"?>
<module loadLocalBin="true">
  <assemblies>
    <!-- This adds the Netcat template assembly to the "default module" -->
    <add assembly="CMS7Image" />-->
  </assemblies>
  <dojoModules>
    <add name="epiimage" path="EPiImage/Scripts" />
  </dojoModules>
  <clientResources>
    <add name="epi.cms.widgets.base" path="EPiImage/Scripts/ModuleInitializer.js" resourceType="Script" />
    <add name="epi.cms.widgets.base" path="EPiImage/Scripts/RequireModule.js" resourceType="Script" />
    <add name="epiimage.editors.style" path="~/ClientResources/EPiImage/Css/imagegallery.css" resourceType="Style" />
  </clientResources>
  <clientModule initializer="epiimage.ModuleInitializer">
    <requiredResources>
      <add name="epiimage.editors.style"/>
    </requiredResources>
  </clientModule>
</module>