<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <add assembly="EPiImage" />
  </assemblies>
  <clientResources>
    <add name="epiimage.editors.style" path="Styles/imagegallery.css" resourceType="Style" />
  </clientResources>
  <dojo>
    <!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
    <paths>
      <add name="app" path="Scripts" />
      <add name="epiimage" path="Scripts/EPiImage/" />
    </paths>
  </dojo>
  <clientModule initializer="app.ModuleInitializer">
    <requiredResources>
      <add name="epiimage.editors.style"/>
    </requiredResources>
  </clientModule>
</module>
